* {
    font-family: Georgia, serif;
    text-align: center;
    padding: 5px;
}

#location {
	margin: auto;
	width: 50%;
	background: #c8daf7;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

#output {
	margin: auto;
	width: 50%;
	background: #8fb4ef;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

#weatherData {
	line-height: 40px;
}

#weatherData img {
	vertical-align: middle;
}